* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh; /* vh is relative to height of browsing window */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d010d;
    font-family: 'Optima', sans-serif;
}

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08); /* Transparent white color */
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    padding: 2vw;
}

.music-player {
    flex-shrink: 1;
    position: relative;
    width: 28%;
    height: 90%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08); /* Transparent white color */
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    padding: 4vw;
    overflow-x: hidden;
}

.music-name {
    text-align: center;
    height: 8%;
    width: 100%;
    font-size: 3.3vh;
    font-weight: 200px;
    margin-bottom: 0.1em;
    color: #f014c0;
    white-space: nowrap;
    overflow: hidden;
}

.artist-name {
    text-align: center;
    height: 6%;
    width: 100%;
    font-size: 2.5vh;
    color: #d8d8d8;
    white-space: nowrap;
    overflow: hidden;
}

/* music- and artist-name scrollbars */
.music-name:hover,
.artist-name:hover {
    overflow-x: auto;
}

.music-name::-webkit-scrollbar,
.artist-name::-webkit-scrollbar {
    height: 5px;
    background: transparent;
}

.music-name:hover::webkit-scrollbar,
.artist-name:hover::webkit-scrollbar {
    background: #c3bec2;
}

.music-name::-webkit-scrollbar-thumb,
.artist-name::-webkit-scrollbar-thumb {
    background: #645660;
    border-radius: 100vw;
}

.music-name:hover::-webkit-scrollbar-thumb,
.artist-name:hover::-webkit-scrollbar-thumb {
    background: #645660;
    border-radius: 100vw;
}

.info-window {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgb(24, 0, 21); /* Transparent black color */
    animation-name: expandContent;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.info-text {
    padding: 0;
    text-indent: 1.5em;
    font-size: 1.2em;
    color: white;
    text-align: left;
    padding: 0em 1em;
    margin: 0.5em;
}

.cover {
    position: relative;
    display: block;
    margin: 1vw auto;
    width: 14vw;
    aspect-ratio: 1 / 1;
    border-radius: 40%;
    background: #000;
    background-image: url('');
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
}

.song-slider {
    width: 100%;
    position: relative;
}

.time-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
}
.seek-bar {
    appearance: none; /* removes the default style */
    width: 100%;
    height: 1em;
    border-radius: 10px;
    background: #31022c;
    overflow: hidden;
    cursor: e-resize;
}

.seek-bar::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    background: #c3bec2;
    box-shadow: -400px 0 0 400px #f014c0;
}

.current-time,
.song-duration {
    font-size: 2.3vh;
    color: #dfd7de;
}

.song-duration {
    position: relative;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1em;
    gap: 0.5em;
}

.play-btn {
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 5px;
    border-color: #dfd7de;
    background: #000000;
    cursor: pointer;
}

.play-btn.pause {
    animation: pulse 2s linear infinite;
}

.play-icon {
    width: 80px;
    height: 80px;
    background: none;
    color: #f014c0;
    font-size: 24px;
    transform: translateY(15%);
}

.pause-icon {
    width: 80px;
    height: 80px;
    background: none;
    color: #f014c0;
    font-size: 24px;
}

@keyframes pulse {
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
}

.btn {
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius: 50%;
    border-width: 3px;
    border-color: #dfd7de;;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.forward-icon {
    width: 40px;
    height: 40px;
    background: none;
    color: #f014c0;
    font-size: 12px;
    transform: translateY(35%);
}

.backward-icon {
    width: 40px;
    height: 40px;
    background: none;
    color: #f014c0;
    font-size: 12px;
    transform: translateY(35%);
}

/* Left space */
.left-space {
    flex-shrink: 1;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 90%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08); /* Transparent white color */
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    overflow-x: hidden;
}

.additional-controls {
    position: relative;
}

.volume-section {
    position: relative;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
    top: 90px;
    display: flex;
}

.volume-bar {
    flex-shrink: 0;
    appearance: none; /* removes the default style */
    transform: rotate(-90deg);
    width: 100%;
    height: 20px;
    border-radius: 8px;
    background: #31022c;
    overflow: hidden;
    cursor: n-resize;
}

.volume-bar::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    background: #c3bec2;
    box-shadow: -400px 0 0 400px #f014c0;
}

.display-volume {
    position: relative;
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 200px;
    margin-top: 75px;
    color: #dfd7de;
}

.volume-btn {
    position: relative;
    width: 25px;
    height: 25px;
    top: -70px;
    border-radius: 50%;
    border-width: 5px;
    border-color: #dfd7de;
    display: flex;
    cursor: pointer;
}

.volume-icon {
    width: 20px;
    height: 20px;
    background: none;
    color: #f014c0;
    font-size: 20px;
}

.btn-section {
    position: relative;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    top: 100px;
    display: flex;
}

.shuffle-btn {
    margin-bottom: 10px;
    color:rgb(158, 141, 162);
    width: 50px;
    height: 50px;
}

.loop-btn {
    margin-bottom: 10px;
    color:rgb(158, 141, 162);
    width: 50px;
    height: 50px;
}

.nextList-btn {
    margin-bottom: 10px;
    color:rgb(158, 141, 162);
    margin-top: auto;
    width: 50px;
    height: 50px;
}

.info-btn {
    margin-bottom: 10px;
    color:rgb(158, 141, 162);
    width: 50px;
    height: 50px;
}

/* Right space */
.right-space {
    flex-shrink: 2;
    overflow: hidden;
    overflow-wrap: break-word; /* Will break up text if it begins to overflow container */
    position: relative;
    height: 90%;
    aspect-ratio: 9 / 11;
    border-radius: 20px;
    border: 4px solid;
    border-color: #dfd7de;
    background: rgba(255, 255, 255, 0.08); /* Transparent white color */
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    background-image: url('');
    background-size: cover;
}

/* nextList */
.hidden {
    display: none;
}

@keyframes expandContent {
    0% {
        height: 0%;
        overflow: hidden;
    }
    99% {
        height: 100%;
        overflow: hidden;
    }
    100% {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.nextListHolder {
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5); /* Transparent black color */
    animation-name: expandContent;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.nextListHolder::-webkit-scrollbar,
.music-player::-webkit-scrollbar,
.info-window::-webkit-scrollbar,
.left-space::-webkit-scrollbar {
    width: 15px;
}

.nextListHolder::-webkit-scrollbar-track,
.music-player::-webkit-scrollbar-track,
.info-window::-webkit-scrollbar-track,
.left-space::-webkit-scrollbar-track {
    background: hsl(306 92.2% 10%);
}

.nextListHolder::-webkit-scrollbar-thumb,
.music-player::-webkit-scrollbar-thumb,
.info-window::-webkit-scrollbar-thumb,
.left-space::-webkit-scrollbar-thumb {
    background: hsl(313 88% 51% / 0.75);
}

.song-card {
    font-family: 'Optima', sans-serif;
    display: flex;
    width: 100%;
    height: 45px;
    background: #000000;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 2px;
    border-color: #dfd7de;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.song-card:hover, .card-playing {
    border-style: double;
    border-color: #f014c0;
}

.card-playing {
    border-style: solid;
}

.card-cover {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 20%;
    border-width: 2px;
    background: #fafafa;
    background-image: url('');
    background-size: cover;
    margin-left: 10px;
}

.card-playing .card-cover {
    box-sizing: border-box;
    border-style: solid;
    border-color: #f014c0;
    animation: pulse 2s linear infinite;
}

.card-song {
    position: relative;
    align-items: center;
    font-size: 16px;
    text-align: left;
    color: #dfd7de;
    width: 180px;
    margin-left: 10px;
    transform: translateX(10px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-card:hover .card-song, .card-playing .card-song {
    color: #f014c0;
}

.card-artist {
    position: relative;
    align-items: center;
    font-size: 14px;
    text-align: left;
    color: rgb(158, 141, 162);
    width: 130px;
    margin-left: 10px;
    transform: translateX(20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}